In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import ast
sns.set()

from pyathena import connect

In [4]:
conn = connect(s3_staging_dir='s3://aws-athena-query-results-415718651610-us-east-1', region_name='us-east-1')
data = pd.read_sql("SELECT type,CAST(item[1] as JSON) as item,CAST(host[1] as JSON) as host, CAST(trigger[1] as JSON) as trigger, CAST(event[1] as JSON) as event, usc_das_id  FROM das.event limit 1", conn)

In [5]:
data.describe()

,type,item,host,trigger,event,usc_das_id
count,1,1,1,1,1,1
unique,1,1,1,1,1,1
top,event,"[811.52 Kbps, 974598, , Tr치fego de Saida Gigab...","[router106, LBS-f106-router, 172.17.106.1]","[Average, , 3, Lebes - Filiais, Lebes - Geral,...","[PROBLEM, 3, , 18:26:17, 2019.04.02, 363712005...",gGK07aOLxP5n6Mmn97WQ6rNvlbBkYZeA
freq,1,1,1,1,1,1

In [6]:
data.head()

,type,item,host,trigger,event,usc_das_id
0,event,"[811.52 Kbps, 974598, , Tr치fego de Saida Gigab...","[router106, LBS-f106-router, 172.17.106.1]","[Average, , 3, Lebes - Filiais, Lebes - Geral,...","[PROBLEM, 3, , 18:26:17, 2019.04.02, 363712005...",gGK07aOLxP5n6Mmn97WQ6rNvlbBkYZeA

In [7]:

print("item")
print("item value = " + df.item[0][0])
print("item id = " + df.item[0][1])
print("item descr = " + df.item[0][2])
print("item name = " + df.item[0][3])

print("\nhost:")
print("host address = " + df.host[0][0])
print("host name= " + df.host[0][1])
print("host conn= " + df.host[0][2])

print("\ntrigger:")
print("trigger severity = " + df.trigger[0][0])
print("trigger descr = " + df.trigger[0][1])
print("trigger nseverity = " + df.trigger[0][2])
print("trigger hostgroup_name= " + df.trigger[0][3])
print("trigger value = " + df.trigger[0][4])
print("trigger id = " + df.trigger[0][5])
print("trigger name = " + df.trigger[0][6])


print("\nevent:")
print("event status = " + df.event[0][0])
print("event severity = " + df.event[0][1])
print("event tags = " + df.event[0][2])
print("event time = " + df.event[0][3])
print("event date = " + df.event[0][4])
print("event id = " + df.event[0][5])
print("event name = " + df.event[0][6])

item

NameError: name 'df' is not defined